<div class="bar">
    {{ with resources.Get ($.Site.Params.bar) }}
      {{ if eq .MediaType.SubType "svg"}}
        <img src="{{.Permalink}}">
      {{ else }}
        {{ with .Resize "webp 1600x q40" }}
          <img src="{{.Permalink}}">
        {{ end }}
      {{ end }}
    {{ end }}
</div>

<div class="footer_logo"><a href="{{ $.Site.Params.header_href }}">
    {{ with resources.Get ($.Site.Params.footer_logo) }}
      {{ if eq .MediaType.SubType "svg"}}
        <img src="{{.Permalink}}">
      {{ else }}
        {{ with .Resize "webp 1600x q40" }}
          <img src="{{.Permalink}}">
        {{ end }}
      {{ end }}
    {{ end }}
</a></div>
<div>Write to us at: <a href="mailto:blonocatholic@gmail.com">blonocatholic@gmail.com</a></div>
<div><h3><a href="https://www.instagram.com/blonocatholic/">Instagram</a>  &#10209;  <a href="https://www.facebook.com/profile.php?id=100092513031148">Facebook</a></h3></div>
<h2>JMJ</h2>