<!-- this is the header -->

{{if .IsHome}}
  {{ .Scratch.Set "header" $.Site.Params.header_main }}
{{ else }}
  {{ .Scratch.Set "header" $.Site.Params.header }}
{{ end }}

<a class="header" href="{{$.Site.Params.header_href }}">{{ with resources.Get (.Scratch.Get "header") }}
  {{ if eq .MediaType.SubType "svg"}}
    <img src="{{.Permalink}}">
  {{ else }}
    {{ with .Resize "webp 1600x q40" }}
      <img src="{{.Permalink}}">
    {{ end }}
  {{ end }}
{{ end }}</a>
<div class="navbar">
  <!--{{ debug.Dump $.Site.Params.navbar_pages }}-->
  {{ range $i, $page := $.Site.Params.navbar_pages }}
    {{ if $i }}
      {{ with resources.Get $.Site.Params.star }}
        {{ if eq .MediaType.SubType "svg"}}
          <img src="{{.Permalink}}">
        {{ else }}
          {{ with .Resize "webp 1600x q40" }}
            <img src="{{.Permalink}}">
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}

    <div class="navlink"><a href="{{.url}}">{{ .name }}</a></div>
  {{ end }}
</div>