{{ define "main" }}
  <div>&nbsp;</div>
  {{ if $.Params.sidebar }}
	  <div class="dualcolumn"> {{ .Content }}
		  {{ range $.Params.sidebar }}
		  	<div class="card">
          {{ if .href }}
            <div class="photo-card clickable" onclick="window.location='{{.href}}'">
          {{ else }}
            <div class="photo-card">
          {{ end }}
            <div class="photo-inner">
              {{ $resizeq := (.resize | default "webp 1000x q60")}}
              {{ with resources.Get .img }}
                {{ with .Resize $resizeq }}
                  <img src="{{.Permalink}}">
                {{ end }}
              {{ end }}
            </div>
          </div>
        </div>
		  {{ end }}
		</div>
	{{ else }}
	  <div class="dualcolumn"> {{ .Content }} </div>
	{{ end }}
{{ end }}