{{ define "main" }}

	

	{{ range (.Site.RegularPages).ByDate}}
		<!-- look, you should be able to do (where .Site.Pages "File.Dir" "content/events").ByDate but it isn't working. phooey. -->
		<!-- publish only events, which are no more than 3 days old -->
		{{ if eq .Section "events"}}
		{{ if ge .Date (time.Now.AddDate 0 0 -3) }}


			<div class="eventCard">
				{{ $alt := printf "%s - %s" .Title .Summary}}
				<a href="{{ .RelPermalink }}">
				{{ with resources.Get (.Params.image) }}
				  {{ if eq .MediaType.SubType "svg"}}
				    <img src="{{.Permalink}}" alt="{{$alt}}">
				  {{ else }}
				    {{ with .Resize "webp 1080x q40" }}
				      <img src="{{.Permalink}}" alt="{{$alt}}">
				    {{ end }}
				  {{ end }}
				</a>
				{{ end }}
				<div class="eventCaption">
					<a href="{{ .RelPermalink }}"><h2> {{.Title}}</h2></a>
					<h3> {{.Date.Format "January 02, 2006 @ 3:04PM"}}</h3>
					<p>{{.Summary}}</p>
				</div>
			</div>
			
			
		{{ end }}
		{{ end }}
	{{ end }}

			<div class="bar">
				{{ with resources.Get ($.Site.Params.bar) }}
				  {{ if eq .MediaType.SubType "svg"}}
				    <img src="{{.Permalink}}">
				  {{ else }}
				    {{ with .Resize "webp 1600x q40" }}
				      <img src="{{.Permalink}}">
				    {{ end }}
				  {{ end }}
				{{ end }}
			</div>

	<div style="width: 100%">
	<div class="main-gallery js-flickity" data-flickity-options='{ "cellAlign": "center", "contain": true, "wrapAround": true, "adaptiveHeight": false, "pageDots": false, "lazyLoad": false, "resize": true}'>
		{{ range resources.Match "carousel/*" }}
	  <div class="gallery-cell">
          {{ if eq .MediaType.SubType "svg"}}
            <img src="{{.RelPermalink}}">
          {{ else }}
            {{ with .Fill "webp 720x480 q40" }}
              <img src="{{.RelPermalink}}">
            {{ end }}
          {{ end }}
	  </div>
	  {{ end }}
	</div><br/>
</div>
{{ end }}